body {
	background-color: #B3B3FF;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	color: darkred;
}
p,ul {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
}
#firstDiv {
	margin-left: 10em;
	margin-top: 10em;
}
#secondDiv {
	margin-left: 10%;
	margin-top: 10%;
}
#smiley-face {
	font-size: 4em;
}
#list {
	font-style: italic;
}
ul {
	list-style-type: square;
}
li {
	padding-left: 16px;
}
