body {
	background-color: #B3B3FF;
	background-image: url('https://images.unsplash.com/photo-1413752362258-7af2a667b590?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=03f1fbd57c8826b618bb075c4233d434&auto=format&fit=crop&w=500&q=60');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	font-family: 'Lobster', Helvetica, sans-serif;
	color: ghostwhite;
	text-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
}

p {
	color: floralwhite;
	font-family: 'Comfortaa', cursive;
}

p,ul {
	font-size: 1.2em;
}

.image {
	width: 150px;
	height: 200px;
	display: inline-block;
	position: relative;
	top: 30%;
	left: 15%;
}

.center {
	display: inline-block;
	position: relative;
	width: 75%;
	margin: auto 12.5%;
	text-align: center;
}

.fa-flushed {
	font-size: 2em;
	padding: 5px;
}
.list {
	font-style: italic;
}
ul {
	list-style-type: none;
	font-weight: bold;
	font-size: 3rem;
	color: oldlace;
}
li {
	padding-left: 16px;
	font-weight: initial;
	font-size: 1.5rem;
}
